# Archivos generados por Quartus
*.sof
*.qpf
*.jdi
*.vqm
*.vwf
*.sim
*.cmp
*.rpt
*.log
*.map
*.sdo
*.bld
*.ptf
*.ip
*.pao
*.qsys
*.tcl
*.ipx
*.ipf
*.xci
*.xcix

# Archivos de configuración personal
*.qpf
*.qsys
*.tcl

# Directorios temporales
db/
simulation/
modelsim/
quartus/

#otros
*.bkp
*.out
*.vcd
figs/.$Diagramas.drawio.bkp
*.bak
